<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>BrewTrack</title>
  </head>
  <body>
    <h1>New User</h1>
    <form class="" action="/signup" method="post">
      <input type="text" name="user[username]" placeholder="Username">
      <input type="password" name="user[password]" placeholder="Password">
      <input type="submit" value="Sign Up">
    </form>
  </body>
</html>
