<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>BrewTrack</title>
  </head>
  <body>
    <h1>Welcome to Brew Tracker!</h1>

    <h3>Please <a href="/login">Login</a> or <a href="/signup">Signup</a> to get started.</h3>
  </body>
</html>
