<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>BrewTrack</title>
  </head>
  <body>
    <header>
      <nav style = "border : black 1px">
        <a href="/users/<%=current_user.id%>">My Beers</a>
        <a href="/beers/new">Create a Beer</a>
        <a href="/beers">All Beers</a>
        <a href="/breweries">All Breweries</a>
        <a href="/styles">All Styles</a>
        <a href="/logout">Log Out</a>
      </nav>
    </header>

      <div id="flash-msg">
        <% if flash.has?(:message) %>
          <p style = "color:red;"> <%= flash[:message] %></p>
        <% end %>
      </div>

    <%=yield%>
  </body>
</html>
